*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}
.image{
   margin-left: 360px;
}

.header{
    background-color: #fff8f3;
    /* background-image: url(/images/header_bg.png); */
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    /* background-position: left; */
    /* margin: 40px; */
}
/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/* banner styles */

.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title{
    font-weight: 700;
    font-size: 65px;

}

.banner-s-title{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section style */
.about{
margin-top:20px;
background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}

.section-title{
font-weight: 700;
font-size: 35px;
margin-bottom: 130px;
text-align: center;
margin-top: 120px;
}

.section-description{
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}
.about-info-container{
 display: flex; 
 justify-content: space-around;  
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
  font-weight: 700;
  font-size: 20px; 
  color: #474747; 
}
.skills-container{
display: flex;
gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rebeccapurple;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}

/* Resume Styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
color: #757575;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.resume .description{
color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contact .section-title{
text-align: left;
}
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
}